

//default padding on site-content
.site-content {
	padding: 1em;
	
	//$query__small: 600px; when resizes to 768px change padding to 2em
	//Media query inside a style rule
	
	@media screen and (min-width: 48em) {
		padding: 2em;
	}
}

/* $size__max-width: 1080px max-width: $size__max-width;query_medium 900px
site-content is the parent container want to  give it a max-width of 1080px*/
.site-content {	
	margin: 0 auto;	
	max-width: 1280px; //1080

	
}
/* when the screen size reaches (48em =768px)as pre 2016 theme these typography styles will kick in as per wordpress.org*/
@media screen and (min-width: 48em) {
/* Typography */

		body,
		button,
		input,
		select,
		textarea {
			font-size: 16px;
			font-size: 1rem;
			line-height: 1.5;
		}
		
		//layouts
		
		.wrap {
			max-width: 1000px;
			padding-left: 3em;
			padding-right: 3em;
		}
		//parent container displays flex default flex-direction row can change to column
		.site-content{
			 display:flex;
			 flex-direction:row;
			 justify-content: space-between;
		 }

		//child container to site-content
		 #primary.content-area {
			flex-wrap: wrap;
			width: 26%;
		}
	    //child container to site-content
		#secondary.widget-area.selftest {
			padding-top: 0;				
			flex-wrap: wrap;
			margin-left: 0;
	     	width: 26%;

		}
		
		
        /* Widgets */

	h2.widget-title {
		font-size: 16px;
		font-size: 1rem;
		margin-bottom: 2em;
		width:100%;
		text-align: center;
		color:$color__link-visited;
	}

	

}// end @media screen and (min-width: 48em) 




/* Single posts query_medium 900px
 $size__ratio-small: 30%; */
@media screen and (min-width: 1120px) {
	.single.has-sidebar,
	.page {

		.hentry {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.entry-header {
				width: 100%;
				flex: 1 0 100%;
			}

			.post-content {
				width: $size__ratio-large;
			}

			.widget-area {
				width: $size__ratio-small;
			}
		}

	}
	#primary.content-area {
		float: left;
		max-width: 820%;
	}
	#secondary.widget-area {
		float: left;
		padding-top: 0;
		max-width: 250%;	
		
	}



	.page {
		&.has-page-sidebar {
			.hentry {
				flex-direction: row-reverse;
			}
		}
		&:not(.has-page-sidebar) {
			.hentry {
				justify-content: flex-end;
			}
		}
	}
}

//query_medium 900px
@media screen and (min-width: $query__medium) {
	.single {	
		&.no-sidebar {

			.post-content__wrap {
				display: flex;
				justify-content: space-between;

				.entry-meta {
					width: 20%;
				}

				.post-content__body {
					width: 70%;
				}
			}

		}
	}
}
