.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. textwidget*/
	select {
		max-width: 100%;
	}
}

//$color__link-visited - purple
.widget-title{
	 color:$color__link-visited;
	 background: #ddd2d2;
	 font-size: 1em;
}